
html, body div {
    font-family: 'Baloo', sans-serif;
}

header {
    font-size: 56px;
    margin-top: 20px;
}



.mid {
    text-align: center;
}


.footer-link {
    color: #eeeeee;
    text-decoration: none;
}

.green {
	background-color: #008000;
	color: #eeeeee;
}

.logo {
	display: block;
    margin: 0 auto;
}