* {
    padding: 0px;
    margin: 0px;
    font-family: 'Baloo', cursive;
}

header {
    font-size: 56px;;
}

.mid {
    text-align: center;
}

.logo {
    height: 375px;
}

footer {
    position: absolute;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
    color: #eeeeee;
    background-color: gray;
    font-size: 12px;
    font-family: 
}