html, body div {
    margin: 0;
    padding: 0;
    font-family: 'Baloo', cursive;
}

header {
    font-size: 56px;
    margin-top: 20px;
}

.mid {
    text-align: center;
}

.logo {
    height: 200px;
}

.insight-window {
    border: 2px black solid;
    height: 150px;
}

.btn-circle {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  line-height: 1.428571429;
  border-radius: 50%;
}

.dashboard-add-btn {
    position: absolute;
    left: ;
    bottom: 80px;
    width: 100%;
    overflow:hidden;
    color: #eeeeee;
    font-size: 5px;
}

footer {
    position: absolute;
    padding-top: 10px;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    overflow:hidden;
    color: #eeeeee;
    background-color: gray;
    font-size: 12px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    margin-left: 140px;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 100px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay button {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay button:hover, .overlay button:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 5px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay btn {font-size: 10px}
    .overlay .closebtn {
        font-size: 5px;
        top: 15px;
        right: 35px;
    }
}

.overlay-icon { 
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 36px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
    margin-top: 20px;
}

.dropbtn {
    
}
.dropdown-content {
    display: none;
    margin-right: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 10px;  
}


.show {
   display: initial;
}

.product{
 
  height: 10px;
  padding: 10px;
}

.col{
	display: block;
	float:left;
}

.span_1_of_3{
  min-width: 50px;
  width: 50%;
}

.hidden {
    display: none;
}